@model  LoginViewModels
@{
    ViewData["Title"] = "Login";
}

<center>
    <div class="card">
        <div class="row">
            <section>
                <form asp-controller="Home" asp-action="Index" method="post">
                    <h4>Iniciar Sesi&Oacute;</h4>
                    <hr />

                </form>
            </section>
        </div>
    </div>
</center>
